<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="(value,key,index) in info">{{value}}-{{key}}-{{index}}</li>
            <!--value就是值，key是key,index是索引-->
            <!--遍历数组，遍历对象，遍历字符串，遍历数字-->
        </ul>
        <ul>
            <li v-for="item in 10">{{item}}</li>
            <!--v-for可以和template相结合-->
        </ul>


    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const app = Vue.createApp({
            //插值语法

            data: function() {

                return {
                    movies: [],
                    info: {
                        name: "why",
                        age: 18,
                        height: 1.88,
                    }

                }
            },

        })
        app.mount("#app")
    </script>
</body>

</html>