/**
公共的css
css定义变量
***/

body {
    font-size: 14px;
    --primary-color: #ff9854
}

.top-page {
    position: relative;
    z-index: 9;
    height: 100vh;
    background-color: #fff;
    overflow-y: auto;
}